.container {
	background: orange;
	width: 300px;
	height: 300px;
}

.btn {
	background-color: teal;
	color: white;
	width: 100px;
	height: 100px;
	margin-left: 100px;
}

.container:hover {
	background: green;
}

.container:hover .btn {
	background-color: red;
}

.btn:hover {
	color: green;
}